* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
}


a {
    text-decoration: none;
}

.nav span {
    font-weight: bolder;
}

.nav a {
    margin: 0rem 1rem;
}

.nav-left .nav-item {
    color: #A5A5A5;
}

.nav-left .nav-item:hover {
    color: #3C58F0;
}


.reg-btn {
    background-color: #3C58F0;
    border: none;
    border-radius: 0.5rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.reg-btn:hover {
    background-color: rgb(48, 67, 172);
}

.nav-right .nav-item {
    color: #3C58F0;
}

.nav-right .nav-item:hover {
    color: rgb(105, 120, 216);
}

.illus {
    height: 65vh;
    width: 75vh;
    margin: 3rem 3rem;
}

.heading {
    color: #2B388F;
    font-size: 50px;
    margin: 2rem 0rem;
}

.content {
    margin: 2rem 0rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #E5FCFF;
}


.sec-content {
    margin: 5rem;
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 2000;
    font-size: 25px;
    padding: 2rem 20rem;
    margin: 2rem;
    text-align: center;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    /* height: 7vh; */
    width: 12%;
    margin: 2rem;
    filter: grayscale(100%);
}

.logo:hover {
    filter: grayscale(0%);
}

.check-icon {
    background-color: #3C58F0;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgb(140, 157, 255);
    padding: 7px 7px;
    text-align: center;
    display: inline-block;
}

.check-icon img {
    height: 5vh;
    /* color: white; */
    /* margin-top: 6rem; */
}

.sec3 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0rem;

}

.learn-more {
    margin: 2rem;
    color: #2B388F;
}

.learn-more:hover {
    margin: 2rem;
    color: rgb(105, 120, 216);
}

.sec4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF3DE;
}

.sec6 {
    background-color: #3C58F0;
    color: white;
}

.sec6 .reg-btn {
    background-color: rgb(48, 67, 172);
}

.sec6 .reg-btn:hover {
    background-color: rgb(25, 38, 116);
}

.benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.benefits-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 25%;
    font-size: 12px
}

.benefits-content img {
    height: 4vh;
    margin: 4rem 1rem;
}

.footer{
    display: flex;
    flex-direction: column;
}

.upper-footer{
    display: flex;
    flex-direction: row;
    padding: 1.2rem 6rem;
    background-color: #2B388F;
}

.footer-content p{
    margin: 0.7rem 0rem;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    color: white;
    font-size: 13px;
    padding: 1rem;

}

.footer-title{
    font-weight: bolder;
    margin: 1.2rem 0rem;
}

.lower-footer p{
    margin: 0rem;
}

.lower-footer{
    padding: 1rem;
    text-align: center;
    color: rgb(95, 95, 95);
    font-size: 12px;
}